<mat-card class="main-card">
    <mat-card-header>
      <h1 class="title">Canjear la experiencia</h1>
      <mat-icon *ngIf="!esperandoRespuesta" class="close-icon" (click)="closeDialog()">close</mat-icon>
    </mat-card-header>
    <hr size="2" width="400px" color="#18547F">
    <mat-card-content class="infoContainer" *ngIf="esperandoRespuesta">
      <div class="esperando">
        <img src="../../assets/images/progress-icon-gif-20.jpg" class="esperando-imagen">
        <p>Su solicitud está siendo procesada</p>
      </div>
    </mat-card-content>
    <mat-card-content class="infoContainer" *ngIf="!esperandoRespuesta">
      <p class="form-label">Ganador</p>
      <p class="form-value">{{ganador}}</p> 
      <p class="form-label">Código de la experiencia</p>
      <p class="form-value">{{codigoExp}}</p> 
      <p>
        <span><strong>Atención:</strong> revise que el usuario sea el dueño de esa cuenta antes de canjear la experiencia</span>
      </p>
    </mat-card-content>
    <div class="botonera" *ngIf="!esperandoRespuesta">
      <button mat-raised-button color="custom"(click)="confirmar()">Confirmar</button>
    </div>
  </mat-card>