<mat-card class="main-card">
  <mat-card-header>
    <h1 class="title">Información del sorteo</h1>
    <mat-icon *ngIf="!esperandoRespuesta" class="close-icon" (click)="closeDialog()">close</mat-icon>
  </mat-card-header>
  <hr size="2" width="400px" color="#18547F">
  <mat-card-content class="infoContainer" *ngIf="paso == 1">
    <form [formGroup]="addSorteoForm">
      <p class="form-label">Título</p>
      <textarea maxlength="50" formControlName="titulo" class="form-title-text"></textarea>
      <p class="form-label">Descripción</p>
      <textarea maxlength="150" formControlName="descripcion" class="form-text"></textarea>
      <p class="form-label">Fechas de la experiencia</p>
      <div class="date-picker">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicio" class="data-picker-date">
          <input matEndDate formControlName="fechaFin" placeholder="Fecha finalización" class="data-picker-date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </div>
      <p class="form-label">Precio estimado de la experiencia 
        <input type="text" formControlName="precioExp" class="precio-estimado"> €
      </p>
      <div class="tipo-premium-container">
        <div class="tipo-container"></div>
        <h3 class="form-label">Tipo</h3>
        <mat-select formControlName="tipo" class="tipo-selector">
          <mat-option value="1">Montaña</mat-option>
          <mat-option value="2">Ciudad</mat-option>
          <mat-option value="3">Restaurante</mat-option>
          <mat-option value="4">Campo</mat-option>
          <mat-option value="5">Aventura</mat-option>
          <mat-option value="6">Playa</mat-option>
        </mat-select>
        <div class="premium-container">
          <p class="form-label">Premium <mat-checkbox formControlName="premium" class="premium-check"></mat-checkbox></p>
        </div>
      </div>
      <p *ngIf="errorText!=''" class="error-text">{{errorText}}</p>            
    </form>    
  </mat-card-content>
  <mat-card-content class="infoContainer" *ngIf="paso == 2 && esperandoRespuesta">
    <div class="esperando">
      <img src="../../assets/images/progress-icon-gif-20.jpg" class="esperando-imagen">
      <p>Su solicitud está siendo procesada</p>
    </div>
  </mat-card-content>
  <mat-card-content class="infoContainer" *ngIf="paso == 2 && !esperandoRespuesta">
    <p class="form-label">Título</p>
    <p class="descripcion-titulo">{{formData.titulo}}</p>
    <p class="form-label">Descripcion</p>
    <p class="descripcion-value">{{formData.descripcion}}</p>
    <p class="form-label">Fechas</p>
    <p class="resumen-value">{{formData.fechasExp}}</p>
    <p class="form-label">Precio estimado</p>
    <p class="resumen-value">{{formData.precioExp}}</p>
    <p class="form-label">Tipo</p>
    <p class="resumen-value">{{tipo}}</p>
    <p class="form-label">Premium</p>
    <p class="resumen-value">{{premium}}</p>
  </mat-card-content>
  <div class="botonera">
    <button *ngIf="paso == 1 && !esperandoRespuesta" mat-raised-button color="custom" class="form-boton" (click)="submitForm(addSorteoForm)">Siguiente</button>
    <button *ngIf="paso == 2 && !esperandoRespuesta" mat-raised-button color="custom" class="form-boton" (click)="paso=1">Volver</button>
    <button *ngIf="paso == 2 && !esperandoRespuesta" mat-raised-button color="custom" class="form-boton" (click)="confirmSorteo()">Confirmar</button>
  </div>  
</mat-card>
  
